<div class="comment-item" [class.disabled]="disabled">
  <p><strong>Author:</strong> {{ comment.author }}</p>
  <p><em>{{ comment.text }}</em></p>
  <p><small>Received: {{ comment.createdAt | date:'short' }}</small></p>
  <div>
    <button (click)="performAction(ActionType.Approve)" [disabled]="disabled">Approve</button>
    <button (click)="performAction(ActionType.Reject)" [disabled]="disabled">Reject</button>
    <button (click)="performAction(ActionType.MarkAsSpam)" [disabled]="disabled">Mark as Spam</button>
  </div>
</div>
<hr>
